
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:800|Cinzel:400');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

h1, h2, h3 {
    font-family:Cinzel, serif;
}

.jumbotron {
    h1, h2, h3 {
        font-family:"Alegreya Sans SC", sans-serif;
        font-weight:bolder;
    }
}